<h1>Hello from index.html</h1>




<form action="/postClientData" method="POST">


    <input type ="text" id='userName' name='userName' value="default Value"></input>

    <button class="btn btn-primary" type="submit">Submit</button>

  </form>

<%= myVariableClient %> 

<% console.log("Where am I?") %>